[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
opencv-python = {version = "*", markers = "platform_machine != 'armv7l'"}
pyflakes = "*"

[dev-packages]

[requires]
python_version = "*"
